.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #aaa;
}

.ball {
  border-radius: 999px;
  background-color: #999;
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.3);
}
