h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 24px;
  font-size: 48px;
}

ul {
  margin: 0;
  font-size: 36px;
  padding: 24px;
  padding-left: 80px;
}

li {
  line-height: 1.8;
}

button {
  padding: 12px 24px;
  margin: 12px;
}
